@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    src: url(/diplom/styles/fonts/helvetica/HelveticaRegular/HelveticaRegular.ttf) format("truetype");
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    src: url(/diplom/styles/fonts/helvetica/HelveticaBold/HelveticaBold.ttf) format("truetype");
}

@font-face {
    font-family: "Playfair_Display";
    font-style: normal;
    font-weight: 700;
    src: url(/app/styles/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Playfair_Display";
    font-style: normal;
    font-weight: 400;
    src: url(/app/styles/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Playfair_Display";
    font-style: normal;
    font-weight: 900;
    src: url(/app/styles/fonts/Playfair_Display/PlayfairDisplay-Black.ttf) format("truetype");
}
