* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Helvetica";
  font-weight: 300;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.65px;
  color: #303030;
  z-index: 50;
  height: 100vh;
}

header {
  z-index: 48;
  width: 100vw;
}

main {
  z-index: 47;
  margin-top: 111px;
  width: 100vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  text-decoration: none;
  color: #303030;
  font-size: 0.8rem;
}

h1 {
  font-family: "Playfair_Display";
  font-weight: 400;
  font-size: 40px;
  color: #303030;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  font-family: "Playfair_Display";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.6;
  color: #303030;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: #303030;
  line-height: 14px;
  letter-spacing: 2px;
  text-align: center;
}

h4 {
  font-family: "Playfair_Display";
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #303030;
  text-align: center;
  margin: 0 auto;
}

p {
  font-size: 0.8rem;
  line-height: 31px;
  letter-spacing: .65px;
  color: #303030;
  margin: 20px 0;
  text-align: center;
}

.content {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  background-color: white;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c9c9c9;
  padding: 20px 0;
}

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  max-width: 10%;
  width: 100%;
  z-index: 1;
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: -10%;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation ul li {
  margin: 0 2%;
  font-size: 12px;
  color: #303030;
  font-weight: 700;
  position: relative;
}

.navigation ul li .active {
  color: #98856c;
}

.navigation ul li a {
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.navigation ul li a:hover {
  color: #98856c;
}

.navigation ul li:hover > ul {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navigation ul li .portfolio_ul {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  left: -30px;
  -webkit-transition: .05s;
  transition: .05s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navigation ul li .portfolio_ul li {
  height: 20px;
  width: 150px;
  background-color: #98856c;
  margin: 1px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation ul li .portfolio_ul li a {
  color: white;
  font-weight: 400;
  font-size: 0.7rem;
}

.navigation ul li .portfolio_ul li a:hover {
  color: #303030;
}

.navigation ul li .info_ul {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  left: -50px;
  -webkit-transition: .05s;
  transition: .05s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navigation ul li .info_ul li {
  height: 20px;
  width: 150px;
  background-color: #98856c;
  margin: 1px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation ul li .info_ul li a {
  color: white;
  font-weight: 400;
  font-size: 9px;
}

.navigation ul li .info_ul li a:hover {
  color: #303030;
}

.navigation_portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation_portfolio .active a {
  color: #98856c;
}

.navigation_portfolio li {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.navigation_portfolio li:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #98856c;
}

.navigation_portfolio li:hover a {
  color: white;
}

.navigation_portfolio li a {
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3px;
}

.swiper-container {
  max-width: 100%;
  width: 100%;
}

.swiper-container img {
  max-width: 100%;
  width: 100%;
}

.order {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  -webkit-animation: hue 60s infinite linear;
          animation: hue 60s infinite linear;
}

.order p {
  margin: 40px 0;
}

.order_buttom {
  max-width: 200px;
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  padding: 15px;
}

.order_buttom:hover {
  background-color: #98856c;
  cursor: pointer;
}

.order_buttom:hover h3 {
  color: white;
}

.instagram {
  background-color: #f4f4f4;
}

.instagram_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
}

.instagram_content span {
  margin: 30px 0;
}

.card {
  width: 32%;
  margin-bottom: 2%;
}

.card:nth-child(3n+2) {
  margin: 0 2%;
}

.card img {
  max-width: 100%;
  width: 100%;
  z-index: 1;
}

.card img:hover {
  opacity: 0.5;
}

.card_wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.card_wrapper_portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_wrapper_portfolio .card {
  width: 23%;
  margin: 0;
  position: relative;
}

.card_wrapper_portfolio .card .title {
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transition: .95s;
  transition: .95s;
}

.card_wrapper_portfolio .card:hover > .title {
  cursor: pointer;
  opacity: 1;
}

.socials a {
  font-size: 17px;
  color: #303030;
}

.socials a:hover {
  color: #98856c;
}

.socials a .fa-instagram {
  margin: 0 12px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.footer h3 {
  margin-bottom: 10px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title span {
  display: none;
}

.portfolio_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.sidebar {
  max-width: 200px;
  width: 100%;
}

.blog_wrapper {
  max-width: 685px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_news {
  border-bottom: 1px solid #c9c9c9;
  width: 100%;
}

.blog_news a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.blog_news a:hover {
  opacity: .5;
}

.blog_news a span {
  font-size: 12px;
  color: #c9c9c9;
  margin: 15px 0;
}

.blog_news a img {
  max-width: 100%;
}

.blog_news a p {
  text-align: center;
  letter-spacing: .65px;
  line-height: 31px;
  margin: 15px 0;
}

.info_wrapper {
  max-width: 100%;
}

.info_card {
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  height: 40px;
}

.info_card:hover > a > h2 {
  color: #98856c;
}

.about_wrapper {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_card {
  width: 33.33%;
  text-align: center;
}

.about_card p {
  margin: 10px;
  letter-spacing: .65;
  line-height: 31px;
}

.about_card img {
  max-width: 100%;
}

.review_wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review_card {
  margin-top: 50px;
}

.contacts {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts span, .contacts a {
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 32px;
}

@media screen and (max-width: 1241px) {
  .content {
    padding: 0 2%;
  }
  .header_content {
    padding: 20px 2%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  main {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title span {
    display: block;
    font-size: 1.5rem;
  }
  h1 {
    margin: 20px 0;
    text-align: left;
  }
  .portfolio_wrapper {
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar {
    display: none;
  }
  .card_wrapper_portfolio {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card_wrapper_portfolio .card {
    width: 49%;
    margin-bottom: 10%;
  }
  .card_wrapper_portfolio .card .title {
    top: -7%;
    opacity: 1;
  }
  .form_left input, .form_left select {
    height: 30px;
  }
}

@media screen and (max-width: 499px) {
  .card_wrapper_portfolio .card {
    width: 100%;
    margin-bottom: 15%;
  }
  .card_wrapper .card {
    margin: 0%;
    margin-bottom: 2%;
    width: 49%;
  }
  .card_wrapper .card:last-child {
    display: none;
  }
  .card_wrapper .card:first-child {
    display: none;
  }
  .card_wrapper .card:nth-child(2n) {
    margin-right: 2%;
  }
  .mobile_menu {
    width: 100%;
  }
}

.mobile_menu {
  padding: 4%;
  width: 30%;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.mobile_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mobile_menu ul span {
  position: absolute;
  font-size: 1.4rem;
  right: -10%;
  top: -3%;
}

.mobile_menu ul span:hover {
  color: #98856c;
}

.mobile_menu li {
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.mobile_menu li .portfolio_ul {
  display: none;
  padding-top: 15%;
}

.mobile_menu li .portfolio_ul a {
  text-align: center;
  font-size: .6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #303030;
}

.mobile_menu li .portfolio_ul a:hover {
  color: #98856c;
}

.mobile_menu li .portfolio_ul.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
}

.mobile_menu li .info_ul {
  display: none;
  padding-top: 15%;
}

.mobile_menu li .info_ul a {
  text-align: center;
  font-size: .6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #303030;
}

.mobile_menu li .info_ul a:hover {
  color: #98856c;
}

.mobile_menu li .info_ul.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile_menu a {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #303030;
}

.mobile_menu a:hover {
  cursor: pointer;
  color: #98856c;
}

.mobile_menu.show {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 49;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.popup_window {
  background-color: white;
  padding: 3%;
  width: 60%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup_window span {
  font-size: 1.2rem;
  position: absolute;
  top: 1%;
  right: 1%;
}

.popup_window span:hover {
  cursor: pointer;
  color: #98856c;
}

.popup .form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 4%;
}

.popup .form_left {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2%;
}

.popup .form_left input, .popup .form_left select {
  width: 100%;
  margin-bottom: 4%;
  height: 50px;
  padding-left: 2%;
}

.popup .form_left input:last-child, .popup .form_left select:last-child {
  margin: 0;
}

.popup .form_right {
  width: 60%;
}

.popup .form_right textarea {
  width: 100%;
  height: 100%;
}

.popup .form [type="submit"] {
  display: none;
}

.popup.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */