.contacts {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    span, a {
        font-family: "Helvetica";
        font-weight: 700;
        line-height: 32px;

    }
}