.card {
    width: 32%;    
    margin-bottom: 2%; 
    
    &:nth-child(3n+2) {
        margin: 0 2%;
    }

    img {
        max-width: 100%;
        width: 100%;
        z-index: 1;

        &:hover {
            opacity: 0.5;
        }
    }

    &_wrapper {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        &_portfolio {
            display: flex;
            width: 90%;
            justify-content: space-between;
            
            .card {
                width: 23%;
                margin: 0; 
                position: relative;

                .title {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    width: 100%; 
                    transition:  .95s;
                   
                }

                &:hover>.title {
                    cursor: pointer;
                    opacity: 1;
                }
                
            }
        }
    }
}