.header {
    position: fixed;
    top:0;    
    background-color: white;
   
    
    &_content {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border_color;       
        padding: 20px 0;
    }

    &_left {
        display: flex;
        align-items: center;
        display: flex;
        max-width: 10%;
        width: 100%;
        z-index: 1;
    }

    
}