.instagram {
    background-color: $background;

    &_content {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 70px 0;
        
        span {
            margin: 30px 0;
        }
    }

}