.navigation {
    flex-grow: 1;
    margin-left: -10%;
    
    
    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        

        li {
            margin: 0 2%;
            font-size: 12px;   
            color: $main_color; 
            font-weight: 700;
            position: relative;
           

            .active {
                color: $second_color;
            }
            
            
            a {
                text-decoration: none;
                color: $main_color;
                text-transform: uppercase;
                font-size: 0.6rem;
                font-weight: 700;                
                letter-spacing: 3px;                
                
                &:hover {
                    color: $second_color;
                }
                
            }

            &:hover>ul {
                opacity: 1;
                transform: scale(1);
                
            }

            .portfolio_ul {
                opacity: 0;
                display: flex;
                flex-direction: column;
                position: absolute;               
                align-items: center;
                padding-top: 15px; 
                left: -30px;
                transition: .05s;
                transform: scale(0);
                
                
               
                li {
                    height: 20px;
                    width: 150px;
                    background-color: $second_color;
                    margin: 1px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    a {
                        color: white;
                        font-weight: 400;
                        font-size: 0.7rem;

                        &:hover {
                            color: $main_color;
                        }
                    }
                }
                
            }

            .info_ul {
                opacity: 0;
                display: flex;
                flex-direction: column;
                position: absolute;              
                align-items: center;
                padding-top: 15px;
                left: -50px;
                transition: .05s;
                transform: scale(0);
               
                li {
                    height: 20px;
                    width: 150px;
                    background-color: $second_color;
                    margin: 1px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    a {
                        color: white;
                        font-weight: 400;
                        font-size: 9px;

                        &:hover {
                            color: $main_color;
                        }
                    }
                }
                

            }
        }
    }

    &_portfolio {

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .active {

            a {
                color: $second_color;
            }
        }
       

        li {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 5px;

            &:hover {
                transition: 0.5s;                
                background-color: $second_color;

                a {
                    color: white
                }
            }
            
            a {
                text-decoration: none;
                color: $main_color;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;                
                letter-spacing: 3px;                                  
            }
        }
    }
}