.order {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    animation: hue 60s infinite linear;

    p {
        margin: 40px 0;
    }

    &_buttom {
        max-width: 200px;
        width: 100%;
        background-color: $background;
        border: none;
        margin: 0 auto;
        border-radius: 20px;
        padding: 15px;

        &:hover {
            background-color: $second_color;
            cursor: pointer;
            h3 {
                color: white;
            }
        }        

    }
    
}