.socials {
    a {
        font-size: 17px;
        color: $main_color;

        &:hover {
            color: $second_color
        }

        .fa-instagram {
            margin: 0 12px;
        }
    
        
    }
}