* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 12px;
    flex-direction: column;
    letter-spacing: 0.65px;
    color: $main_color;
    z-index: 50;
    height: 100vh;
    
}

header {
    z-index: 48;
    width: 100vw;
}

main {
    z-index: 47;
    margin-top: 111px;
    width: 100vw;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: $main_color;
    font-size: 0.8rem;
}

h1 {
    font-family: "Playfair_Display";
    font-weight: 400;
    font-size: 40px;
    color: $main_color;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-family: "Playfair_Display"; 
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.6;
    color: $main_color;
    text-align: center;
    
}

 
h3 {
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    color: $main_color;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;

}

h4 {
    font-family: "Playfair_Display"; 
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: $main_color;
    text-align: center; 
    margin: 0 auto; 
}

p {
   
    font-size: 0.8rem;
    line-height: 31px;
    letter-spacing: .65px;
    color: $main_color;
    margin: 20px 0;
    text-align: center;
}