@media screen and (max-width: 1241px) {
    .content {
        padding: 0 2%;
    }

    .header_content {
        padding: 20px 2%;
    }

}

@media screen and (max-width: 768px) {

    .header { 
        display:  none;
    }
    main {
        margin-top: 0;
        flex-grow: 1;
    }

    .title {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        align-items: center;
    } 

    .title span {
        display: block;
        font-size: 1.5rem;
    }

    h1 {
        margin: 20px 0;
        text-align: left;
    }

    .portfolio_wrapper {
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        display: none
    }

    // .navigation_portfolio {
    //     flex-direction: row;
    // }    

    // .navigation_portfolio li {
    //     display: flex;
    //     justify-content: center;
    // }

    .card_wrapper_portfolio { 
        width: 100%;
        flex-wrap: wrap;
    }

    .card_wrapper_portfolio .card {
        width: 49%;
        margin-bottom: 10%;
    }

    .card_wrapper_portfolio .card .title{
        top: -7%; 
        opacity: 1;
    }

    .form_left input, .form_left select {
        height: 30px;
    } 
}

@media screen and (max-width: 499px) {
    .card_wrapper_portfolio .card {
        width: 100%;
        margin-bottom: 15%;
    }

    .card_wrapper .card {
        margin: 0%;
        margin-bottom: 2%;
        width: 49%;
    }

    .card_wrapper .card:last-child {
        display: none;
    }

    .card_wrapper .card:first-child {
        display: none;
    }

    .card_wrapper .card:nth-child(2n) {
        margin-right: 2%;
    }
    
    .mobile_menu {
        width: 100%;
    }
}