.mobile_menu {
    padding: 4%;
    width: 30%;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    transform: translateX(100%);
    transition: .5s;

    
    
    ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        
        span {
            position: absolute;
            font-size: 1.4rem;
            right: -10%;
            top: -3%;
            
            &:hover {
                color: $second_color;
            }
        }

    }
    
    li {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;

        
        .portfolio_ul {
            display: none;
            padding-top: 15%;
            
                
                a {
                    text-align: center;
                    font-size: .6rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $main-color;

                    &:hover {
                        color: $second_color;
                    }
                }
            

            &.show {
                display: flex;
                flex-direction: column;
                opacity: 1;
                
            }

            
        }

        .info_ul {
            display: none;
            padding-top: 15%;
            
                
            a {
                text-align: center;
                font-size: .6rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $main-color;

                &:hover {
                    color: $second_color;
                }
            }

            &.show {
                display: flex;
                flex-direction: column;
            }
                
        }
    }

    a {
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        
        &:hover {
            cursor: pointer;
            color: $second_color;
        }
    }

    &.show {
        transform: none;
        opacity: 1;
    }
}



