.about {

    &_wrapper {
        max-width: 100%;
        display: flex;
    }

    &_card {
        width: 33.33%;
        text-align: center;

        p {
            margin: 10px;
            letter-spacing: .65;
            line-height: 31px;
        }
         
        img {
             max-width: 100%;
         }
    }
}