.info {

    &_wrapper {
        max-width: 100%;    
    }

    &_card {
        overflow: hidden;
        transition: 1s;
        height: 40px;

        &:hover>a>h2 {
            color: $second_color;
        }
    }
}