.blog {

    &_wrapper {
        max-width: 685px;
        margin: 0 auto;        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_news {
        border-bottom: 1px solid $border_color;
        width: 100%;

        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%; 

            &:hover {
                opacity: .5;
            }

            span {
                font-size: 12px;
                color: $border_color;
                margin: 15px 0;
            }
            

            img {
                max-width: 100%;
               
            }

            p {
                text-align: center;
                letter-spacing: .65px;
                line-height: 31px;
                margin: 15px 0;
            }

        }
    }
}