.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 49;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(0);
    opacity: 0;

    &_window {
        background-color: white;
        padding: 3%;
        width: 60%;
        // height: 90%;
        position: relative;
        box-sizing: border-box;
         
        span {
            font-size: 1.2rem;
            position: absolute;
            top: 1%;
            right: 1%;
            
            &:hover {
                cursor: pointer;
                color: $second_color;
            }
        }
    }

    .form {
        
        &_content {
            display: flex;
            width: 100%;
            margin-bottom: 4%;
        }

        &_left {
            width: 38%;
            display: flex;
            flex-direction: column;
            margin-right: 2%;

            input, select {
                width: 100%;
                margin-bottom: 4%;
                height: 50px;
                padding-left: 2%; 

                &:last-child {
                    margin: 0;
                }
            }
            

        }

        &_right {
            width: 60%;
            
            textarea {
                width: 100%;
                height: 100%;
            }
        }

        [type="submit"] {
            display: none;
        }
    }

    &.show {
        transform: scale(1);
        opacity: 1;

    }
}